body {

}

.grid-item {
	background: #2c3e50;
	height: 100px;
	margin-bottom: 20px;
}

.grid-one {
	width: 100%;
	lost-utility: clearfix;
}

.grid-item {
	lost-column: 1/3;
}

.nested-grid-item {
	background: red;
	height: 50px;
	margin-top: 10px;
}
